@import url('https://fonts.googleapis.com/css?family=Nunito:800|Montserrat&display=swap');

.App {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 3rem;
}